@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Exo 2", sans-serif;
}

.font-exo {
  font-family: "Exo 2", sans-serif;
}

.font-dancing {
  font-family: "Dancing Script", cursive;
}

.font-pacifico {
  font-family: "Pacifico", cursive;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}
