@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Exo 2", sans-serif;
}

.font-exo {
  font-family: "Exo 2", sans-serif;
}

.font-dancing {
  font-family: "Dancing Script", cursive;
}

.font-pacifico {
  font-family: "Pacifico", cursive;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.glass-bg {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.neon_common_effect {
  position: relative;
}

.neon_common_effect::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 500px;
  background: radial-gradient(#392f7c, #040308);
  filter: blur(3rem);
}

.neon_common_effect::after {
  content: "";
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(50%, 50%);
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 500px;
  background: radial-gradient(#1a1e3b, #040308);
  filter: blur(3rem);
}
